@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    --cinza: #333138;
    --cinza-claro: #515052;
    --branco: #FFFFFA;
    --preto: #000103;
    --vermelho: #FF312E;
}
html{
    height: 100%;
}

#titulo{
    display: flex;
    align-items: center;
    color: var(--branco);
}

#titulo:hover{
    cursor:pointer;
}

#principal {
    text-align: center;
}

#header{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--preto);
}

#alerta{
    background-color: #ff312e;
    opacity: 80%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.separator {
    background-color: #515052;
    width: 100%;
    height: 5px;
    margin-top: auto;
}
#container{
    text-align: center;
    background-color: #333138;
    border-radius: 10px;
    color: #FFFFFA;
    padding: 5rem;
    margin: 5rem 10rem auto 10rem;

}
button, #followBtn{
    background: linear-gradient(to right,#FF312E ,#333138);
    background-color: #FF312E;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   }
   button:hover, #followBtn:hover{
    background: linear-gradient(to right,#FF312E ,#333138);
    background-color: #FF312E;
    cursor: pointer;
   }
   button:active, #followBtn:active{
    transform: scale(0.95);
}


#regis {
    color: #FFFFFA;
    background-color: #333138;
    text-align: center;
    border-radius: 10px;
    padding: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}
.post {
    border-color: #000;
    border-style: solid;
    margin-top: 5px;
}

#userpage {
    display: flex;
    align-items: center;
}
div#infos{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10rem;
}

@media (max-width: 630px){
    #container{
        margin: 1rem 1rem auto 1rem
    }
    #regis{
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 550px){
    #header{
        align-items: center;
        flex-direction: column;
    }

    nav{
        margin: 9px;
    }
}