{% extends 'base.html' %}

{% block tittle %}Home - {{ super() }}{% endblock %}
{% block content%}
    <div id="principal">
        <h1 id="tittle">Bem Vindo a Bagunça</h1>
        <button onclick="location.href='/posts'">View posts</button> <br>
    </div>
    <label for="">Digite um usuário para pesquisar</label>
    <input type="text" name="" id="pesquisar"> <br>
    <button onclick="redirecionar()">Pesquisar</button>
    <script src='{{ url_for("static", filename="script.js")}}'></script>
{% endblock %}